{
  "extends": ["../.eslintrc"],
  "rules": {
    "no-unused-expressions": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "globals": {
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true
  }
}