.modal {
  @extend .fullscreen;
  background: rgba(33,33,33,0.48);
}

.modal__card {
  margin: 2rem auto;
  max-width: 700px;
  transition: box-shadow .25s;
  padding: 1rem 2rem 2rem;
  border-radius: 2px;
  @extend .z-depth-1;
  background-color: $white-color;
}

.modal__footer {
  padding-top: 2rem;
  border-top: 1px solid rgba(160,160,160,0.2);
}