.swatch {
  cursor: pointer;
  position: relative;
  height: 100px;

  button {
    visibility: hidden;
  }

  &:hover {
    button {
      visibility: visible;
    }
  }
}

.swatch__inner {
  height: 100%;
  padding: 1rem;
}

@media #{$large-and-up} {
  .swatches {
    height: 100vh;
    margin-left: 300px;
  }

  .swatch {
    float: left;
    width: 25%;

    .swatch__edit-input {
      position: absolute;
      width: 90%;
      left: 5%;
      bottom: 5%;
    }
  }

  .swatch--whole {
    height: 100%;
  }

  .swatch--half {
    height: 50%;
  }

  .swatch--third {
    height: 33.33%;
  }
}