.swatch {
  padding: 1rem;
  cursor: pointer;
  position: relative;

  button {
    visibility: hidden;
  }

  &:hover {
    button {
      visibility: visible;
    }
  }
}

@media #{$medium-and-up} {
  .swatches {
    width: calc(100% - 300px);
    height: 100vh;
    float: left;
  }

  .swatch {
    float: left;
    width: 25%;

    .swatch__edit-input {
      position: absolute;
      width: 90%;
      left: 5%;
      bottom: 5%;
    }
  }

  .swatch--whole {
    height: 100%;
  }

  .swatch--half {
    height: 50%;
  }

  .swatch--third {
    height: 33.33%;
  }
}