.swatch {
  height: 100px;
  padding: 1rem;
}

@media #{$medium-and-up} {
  .swatches {
    width: calc(100% - 300px);
    height: 100vh;
    float: left;
  }

  .swatch {
    float: left;
    width: 25%;
  }

  .swatch--whole {
    height: 100%;
  }

  .swatch--half {
    height: 50%;
  }

  .swatch--third {
    height: 33.33%;
  }
}