
// 1. Colors
// ==========================================================================

$primary-color: #3F51B5;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #424242;
$white-color: #FFF;
$success-color: #4CAF50;
$error-color: #F44336;
$link-color: $secondary-color;

// 2. Media Queries
// ==========================================================================

$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width : #{$small-screen})";
$large-and-up: "only screen and (min-width : #{$medium-screen})";
